/*reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
li{
float: left;

}

li a{
    display: block;
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    color:#1599F2;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
h2{
	position:absolute;
	left:15%;
	top:20%;
	font:1.1em Verdana;
}
header{
position:absolute;
height:200px;
width:100%;
color:#1519F8;
background:-moz-linear-gradient(top,#1B7AE8,#13F3EF);
background:-webkit-linear-gradient(top,#1B7AE8,#13F3EF);
z-index:1;
}
#logo{
position:absolute;
top:9%;
left:5%;
width:10%;
}
#barra_navegacion{
position:absolute;
top:180px;
background-color:#6CF6EF;
width:99.8%;
border:solid 2px #0B1991;
z-index:1;
}

body{
font:1.3em bold Verdana;
}
li a:hover{
background-color:#F583ED;
color:white;
}
li:active{
transform:scale(0.95);
}
section{
border:ridge 3px black;
position:absolute;
height:2300px;
top:290px;
left:5%;
width:90%;
z-index:2;
background:-moz-radial-gradient(ellipse,white,#ACF6C7);
background:-webkit-radial-gradient(ellipse,white,#ACF6C7);
}

#Sel2{

}
#fondo{
	position:absolute;
	width:100.4%;
	height:500%;
	background:-moz-linear-gradient(top,white,#CFD1FA 90%);
	background:-webkit-linear-gradient(top,white,#CFD1FA 90%);
	z-index:0;
	left:-2.5%;
}
#primero{
	margin-top:25px;
	margin-left:20px;
}

#imagen_facebook{
	position:absolute;
	top:3%;
	width:4.6%;
	right:15%;

}
#imagen_twitter{
	width:5%;
	position:absolute;
	right:5.5%;
	top:20%;
}

#imagen_twitter:active{
	transform:scale(0.95);
}
#imagen_facebook:active{
	transform:scale(0.95);
}
#imagen_twitter:hover{
	background-color:#F583ED;
}
#imagen_facebook:hover{
	background-color:#F583ED;
}
#active{
background-color:#F583ED;
}

select{
	position:absolute;
	width:300px;
	left:5%;
	margin-top:50px;
-moz-transform:scale(1.2);
-webkit-transform:scale(1.2);
}



div{
color:black;
margin-left:36px;
}

input[type=text]{
border:1.5px solid grey;
box-shadow:black 3px 3px 3px;
-moz-transform: scale(1.2);
-webkit-transform:scale(1.2);
}

input[type=checkbox],input[type=radio]{
-moz-transform:scale(1.8);
-webkit-transform:scale(1.8);
}

label{
margin-left:20px;
}
span{
margin-left:30px;
}
